body {
  background-color: rgb(255, 255, 255);
  padding: 0; /*GET RID OF LITTLE SPACES IN THE HEADER*/
  margin: 0;
}

.header {
  top: 0px;
  left: 0px;
  padding: 100px;
  text-align: center;
  background: url(Images/field.jpg) no-repeat center;
  color: white;
  font-size: 50px;
  text-shadow: 2px 2px grey;
  height: auto;
}

img {
  width: 200px;
  height: 250px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 20px;
  box-shadow: 5px 5px grey;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flip-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* USING THE FLIP THING */
/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 80%;
  height: 80%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you click the flip box container */
.flip-box:active .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 80%;
  height: 80%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the back side */
.flip-box-back {
  position: relative;
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
  margin: 20px;
}

.flip-box {
  background-color: transparent;
  width: 400px;
  height: 300px;
  perspective: 2000px;
}

/* flip on click */
.flip-box:active .flip-box-inner {
  transform: rotateY(180deg);
}
